html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face{
    font-family: inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}
@font-face{
    font-family: Parisienne;
    src: url(../fonts/Parisienne/Parisienne-Regular.ttf);
}
@font-face{
    font-family: Halant;
    src: url(../fonts/Halant/Halant-Regular.ttf);
}
@font-face{
    font-family: inter-medium;
    src: url(../fonts/Inter/static/Inter-Medium.ttf);
}
@font-face{
    font-family: inter-extrabold;
    src: url(../fonts/Inter/static/Inter-ExtraBold.ttf);
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    font-size: 16px;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    max-width: 100%;
  }

nav{
    position: fixed;
    overflow: visible;
    width: 100%;
    z-index: 1;
}

.navigation{
    margin-top: 0;
    font-size: 1.4rem;
    background-color: rgba(202, 222, 192, 1);
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content:center;
    max-width: 1440px;
    overflow: hidden;
    min-width: 300px;
}
body{
    font-size: 1rem;
    color: black;
    margin-left: 0;
    margin-right: 0;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: inter-medium;
    opacity: 43%;
    font-size: 1.7rem;
    transition-duration: 0.5s;
}
nav a:hover{
    color: black;
    opacity: 100%;
    font-size: 2rem;
}

nav a:active{
    color: white;
    opacity: 100%;
    font-size: 2rem;
}

.btn{
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.logo{
    height: 120px;
    width: 120px;
    background-color: rgba(143, 166, 132, 1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    float: left;
}

#next-pic{
    align-self: center;
    margin-left: 25px;
    height: 100px;
    width: 100px;
    font-size: 5rem;
    background-color: rgba(143, 166, 132, 1);
    border-radius: 100%;
    color: white;
    border: white 5px solid;
}

#next-pic:hover{
    background-color: rgba(143, 166, 132, 0.8);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#next-pic:active{
    background-color: rgba(143, 166, 132, 0.5);
}

#prev-pic{
    align-self: center;
    margin-right: 25px;
    height: 100px;
    width: 100px;
    font-size: 5rem;
    background-color: rgba(143, 166, 132, 1);
    border-radius: 50%;
    color: white;
    border: white 5px solid;
}

#prev-pic:hover{
    background-color: rgba(143, 166, 132, 0.8);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#prev-pic:active{
    background-color: rgba(143, 166, 132, 0.5);
}


.btn-nav{
    margin: 2rem;
}


picture{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    justify-content: center;
    background-color: rgba(209, 220, 204, 1);
    height: 800px;
}

.division{
    background-color: rgba(115, 155, 115, 1);
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    height: 150px;
    justify-content: center;
    display: flex;
}
.division > p{
    color: white;
    font-size: 4rem;
    margin: auto;
    font-family: Parisienne;
}

.aboutus{
    background-color: rgba(209, 220, 204, 1);
    overflow: hidden;
}

.aboutus>p{
    display: flex;
    justify-content: center;
    font-family: Halant;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 3rem;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 1fr 0.4fr;
    justify-items: center;
}

.information-pic{
    min-width: 250px;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    border: 10px solid white;
    object-fit: cover;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.information>p{
    min-width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: inter-medium;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    color: black;
    
}

#information1{
    grid-row: 1/2;
    grid-column: 1/2;
}
#information2{
    grid-row: 1/2;
    grid-column: 2/3;
}
#informtion3{
    grid-row: 1/2;
    grid-column: 3/4;
}
#informtion4{
    grid-row: 3/4;
    grid-column: 1/2;
}
#informtion5{
    grid-row: 3/4;
    grid-column: 2/3;
}
#informtion6{
    grid-row: 3/4;
    grid-column: 3/4;
}

#aboutus1{
    grid-row: 2/3;
    grid-column: 1/2;
}
#aboutus2{
    grid-row: 2/3;
    grid-column: 2/3;
}
#aboutus3{
    grid-row: 2/3;
    grid-column: 3/4;
}
#aboutus4{
    grid-row: 4/5;
    grid-column: 1/2;
}
#aboutus5{
    grid-row: 4/5;
    grid-column: 2/3;
}#aboutus6{
    grid-row: 4/5;
    grid-column: 3/4;
}

.menu{
    background-color: rgba(209, 220, 204, 1);
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.menu-pic{
    height: 350px;
    width: 350px;
    min-width: 350px;
    border: 20px solid white;
    display: block;
    margin: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.menu-pic:hover{
    height: 370px;
    width: 370px;
}
.menu-pic:active{
    opacity: 70%;
}
.menu a{
    margin: auto;
}

.menu>button{
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: black solid 10px;
    border-radius: 20%;
    background-color: rgb(255, 255, 255, 0.65);
    overflow: hidden;
}

#menu-button1{
    position: absolute;
    transform: translate(100px,130px);
    border: rgba(156, 164, 135, 1) solid 8px;
    
}
#menu-button2{
    position: absolute;
    transform: translate(475px,130px);
    border: rgba(134, 105, 80, 1) solid 8px;
}
#menu-button3{
    position: absolute;
    transform: translate(850px,130px);
    border: rgba(219, 187, 139, 1) solid 8px;
}
#menu-button4{
    position: absolute;
    transform: translate(1235px,130px);
    border: rgba(205, 188, 229, 1) solid 8px;
}

.gallery{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    background-color: rgba(209, 220, 204, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.gallery-pic{
    height: 350px;
    width: 350px;
    border: 20px solid white;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

footer{
    background-image: linear-gradient(rgba(204, 223, 131, 1), rgba(105, 104, 160, 0.5));
    height: 380px;
    display: flex;
    flex-direction: column;
}
footer>p{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: inter-extrabold;
    color: white;
}
#phonenum{
    color: orange;
}

.icon-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon{
    height: 35px;
    width: 35px;
    margin: 20px;
}
.footer-logo{
    width: 145px;
    height: 55px;
    align-self: center;
    margin: 20px;
    margin-top: 40px;
    
}
.copyright{
    margin-top: auto;
}